* {
  box-sizing: border-box;
}
body {
  background-color: #eef9bf;
  font-family: 'Roboto';
}
header {
  display: flex;
  justify-content: center;

  margin: 40px auto;

  font-weight: 700;
  font-size: 56px;
  color: #75b79e;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 117px;
  height: 146px;
  position: relative;

  margin-right: 34px;
  margin-bottom: 34px;
}

.pointer {
  pointer-events: none;
}

.timer {
  width: 40px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);

  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.restart {
  width: 60px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);

  position: absolute;
  top: 10px;
  left: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.face {
  width: 100%;
  height: 100%;
  background-color: #a7e9af;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.back-face {
  transform: rotateY(180deg);
}

.card-selected .back-face {
  transform: rotateY(0deg);
}

.card-selected .front-face {
  transform: rotateY(-180deg);
}

.girarFront {
  transform: rotateY(-180deg);
}
.girarBack {
  transform: rotateY(0deg);
}

.imgFront {
  width: 100px;
  height: 100px;
}
.imgBack {
  width: 100px;
  height: 100px;
}
.displaynone {
  display: none;
}

@media (max-width: 600px) {
  header {
    font-size: 36px;
    text-align: center;
    margin: 40px 20px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .carta {
    margin-right: 0px;
  }
}
